
@use 'variables_module' as var;
@use 'function_module' as f;


@mixin article-style($color, $border-color, $font-size: 1rem){
    color: $color;
    border: #{f.rem(1px)} solid $border-color;
    font-size: $font-size;
}

div{
    border: #{f.rem(1px)} solid var.$red;
    text-align: center;
    padding: #{f.rem(0px)} #{f.rem(16px)};

    h1{
        color: var.$green;
        display: inline-block;
        border-bottom: #{f.rem(1px)} solid var.$blue;
        margin-top: #{f.rem(16px)} + 1;
    }

    section{

        display: flex;
        margin-bottom: #{f.rem(16px)};

        article {
            width: 100%;
            padding: #{f.rem(16px)};
            @include article-style(var.$red, var.$green);   
            
            &:nth-child(odd){
                @include article-style(var.$blue, var.$green);
            }
            
        }

        
        &:last-child{

            article{
                @include article-style(var.$green, var.$blue, #{f.rem(24px)});
            }
        }
    }
}

